.layout {

    display: flex;

    min-height: 100vh;

    background: var(--bg-main);

}

.main-area {

    margin-left: 250px;

    width: calc(100% - 250px);

    display: flex;

    flex-direction: column;

    background: var(--bg-main);

}

.page-content {

    padding: 35px;

    flex: 1;

    background: var(--bg-page);

    color: var(--text-primary);

}